<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="POS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="POS.My.MySettings.pos_dbConnectionString" connectionString="Data Source=DESKTOP-TPS2A1N\MSSQLSERVER_JAZZ;Initial Catalog=pos_db;Persist Security Info=True;User ID=sa;Password=J@de1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <POS.My.MySettings>
            <setting name="Farmacia_Galicia" serializeAs="String">
                <value>Data Source=DESKTOP-LS5LC0S\SQLEXPRESS;Initial Catalog=pos_db;Persist Security Info=True;User ID=sa;Password=systemadmin</value>
            </setting>
            <setting name="Vincent_Jade_House" serializeAs="String">
                <value>Data Source=DESKTOP-H714LJ5\VJA;Initial Catalog=pos_db;Persist Security Info=True;User ID=sa;Password=J@de1234</value>
            </setting>
            <setting name="Vincent_Jade_Office" serializeAs="String">
                <value>Data Source=PICTO-702\HRIS_JADE;Initial Catalog=pos_db;Persist Security Info=True;User ID=sa;Password=J@de123456</value>
            </setting>
            <setting name="JAZZ" serializeAs="String">
                <value>Data Source=DESKTOP-TP2SA1N\SQLEXPRESS;Initial Catalog=pos_db;Integrated Security=True</value>
            </setting>
        </POS.My.MySettings>
    </applicationSettings>
</configuration>
